
.login-form {
  padding: 0px 6rem;
  height: 100vh;
}

.form-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-img {
  padding-right: 6rem;
}

.login-form-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 2rem;
  width: 375px;
  margin: 0 auto;
  border-radius: 12px;
}

.login-form-content .logo {
  margin-bottom: 30px;
}

.login-form-content input{
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border-radius: 0.25rem;
}

.login-form-button {
    width: 100%;
    background-color: #272724;
    font-size: 16px;
    padding: 20px;
    line-height: 0;
    font-weight: 500;
  }
  .login-form-content .chip{
    background-color: #272724;
  }
  